body
  width 100%
  height 100%
  overflow hidden
  background-color $WHITE

.full
  position absolute
  top 0
  left 0
  width 100%
  height 100%

.app
  @extend .full
  background-color $WHITE
  z-index 1

  canvas
    background-color $WHITE