body
  width 100%
  height 100%
  overflow hidden
  background-color $WHITE

.full
  position absolute
  z-index 1
  top 0
  left 0
  width 100%
  height 100%
  background-color $WHITE

.app
  @extend .full
  
.main
  @extend .full
  canvas
    background-color $WHITE

.stats-js 
  top auto !important
  bottom 0

.page
  position absolute
  z-index 1
  bottom 0
  right 0
  width 50%
  height 20%
  background-color rgba( $BLACK, 0.1 )
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center