<!DOCTYPE html>
<html lang="fr">
    <head>
      <meta charset="utf-8">
      <title> - Exp Boilerplate - </title>
      <meta name="description" content="experimente boilerplate">
      <meta name="keywords" content="">
      <meta name="author" content="Quentin Tshaimanga">
      <meta name="copyright" content="© Copyright 2018 - Quentin Tshaimanga" />
      <meta name="location" content="Paris, FRANCE">
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

      <!-- Favicon -->

      <!-- Facebook meta -->
      <meta property="og:title" content=""/>
      <meta property="og:image" content=""/>
      <meta property="og:url" content=""/>
      <meta property="og:site_name" content=""/>
      <meta name="description" content=""/>

      <!-- Twitter meta -->
      <meta name="twitter:card" content="">
      <meta name="twitter:site" content="@">
      <meta name="twitter:creator" content="@">
      <meta name="twitter:title" content="">
      <meta name="twitter:description" content="">
      <meta name="twitter:image:src" content="">

      <!-- GOOGLE + Share -->
      <meta itemprop="name" content="">
      <meta itemprop="description" content="">
      <meta itemprop="image" content="">
    </head>

    <body>

        <div class="app"></div>

    </body>

</html>
