@import './../../../../../style/app.styl'

.page
  position absolute
  z-index 1
  bottom 0
  right 0
  width 30%
  height 10%
  background-color darken( $WHITE, 3 )
  display flex
  flex-flow column nowrap
  justify-content center
  align-items center
  opacity 0
  visibility hidden