@import './../../../../style/base/baseDir.styl'

.navigation
  height 10%
  background-color darken( $WHITE, 3 )

  &__list
    height 100%
    display flex
    flex-flow row nowrap
    justify-content center
    align-items center

  &__item
    padding 0 1rem
    text-decoration none
    font-size 0.8rem
    color $BLACK